<div class = "container border bg-light">
  <div class="w-100 row justify-content-between mt-3">
      <div class="col-4">
        <p><a class = "text-secondary text-decoration-none" href="/articles">Wiki</a></p>
      </div>
      <div class="col-4">
        <p><a class = "text-secondary text-decoration-none" href="/articles/new">New article</a></p>
      </div>
  </div>
</div>

<div class = "container border-bottom mt-3">
    <h1 class = "d-inline p-2"><%=@article.title%></h1>
    <a class="btn btn-primary d-inline p-2" href=<%="/articles/#{@article.id}/edit"%> role="button">Update</a>
    <p class = "d-inline"><%=link_to "Delete", article_path(@article) , data: { turbo_method: :delete, turbo_confirm: 'You sure?' }%></p>
</div>
<div class = "container mt-4">
  <p><%=@article.content.capitalize%>.</p>
  <p><%=link_to "Back to main page", "/articles"%><p>
</div>
